---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import MainSection from '../../features/main-section/components/MainSection.astro';
import { MapSection } from '../../features/map-section/components/MapSection';
import FeaturesSection from '../../features/features-section/components/FeaturesSection.astro';
import { t } from '../../i18n/i18n';
import StatisticSection from '../../features/statistic-section/components/StatisticSection.astro';

export function getStaticPaths() {
  return [
    { params: { locale: 'en' } },
    { params: { locale: 'ua' } },
    { params: { locale: 'es' } }
  ];
}

const { locale } = Astro.params;
---

<Layout title={t('home.main_screen.title', locale)}>
	<Header />
	<div class="flex flex-col gap-16">
		<MainSection />
		<StatisticSection />
		<FeaturesSection />
		<MapSection client:idle currentLocale={locale} />
	</div>
</Layout>


