---
import { t } from '../../../i18n/i18n';
import InfoItem from './InfoItem.astro';

const { currentLocale } = Astro;
const locale = currentLocale || 'en';

const infoItems = [
    'home.statistic_section.info_card.entrance_fees',
    'home.statistic_section.info_card.camping_sites',
    'home.statistic_section.info_card.wildlife_alerts',
    'home.statistic_section.info_card.park_hours',
    'home.statistic_section.info_card.parking_availability',
    'home.statistic_section.info_card.popular_activities',
    'home.statistic_section.info_card.nearest_lodging_or_houses',
    'home.statistic_section.info_card.weather_conditions'
];
---

<div class="bg-natural-white rounded-lg p-4 h-full">
    <h3 class="text-2xl font-bold mb-2 text-center">
        {t('home.statistic_section.total_places', locale)}
    </h3>
    <div class="flex flex-col gap-2">
        {infoItems.map((translationKey) => (
            <InfoItem translationKey={translationKey} locale={locale} />
        ))}
    </div>
</div>



