---
import StatisticTitle from './StatisticTitle.astro';
import StatisticContent from './StatisticContent.astro';
---

<section class="bg-secondary-300 rounded-lg pt-[60px] pb-[60px] px-[30px]  mx-10 ">
    <div class="grid grid-cols-2 gap-4">
        <StatisticTitle />
        <StatisticContent />   
    </div>
</section>
