---
import StatisticCarousel from './StatisticCarousel.astro';
import InfoCard from './InfoCard.astro';
const { currentLocale } = Astro;

const locale = currentLocale || 'en';
---

<div class="grid grid-cols-2 gap-4">
    <div class="space-y-4">
        <StatisticCarousel />
    </div>
    <div>
        <InfoCard />
    </div>
</div>
   

