---
import { t } from '../../../i18n/i18n';
import FeatureItemCard from './FeatureItemCard.astro';
const { currentLocale } = Astro;

const locale = currentLocale || 'en';

const features = [
    {
        title: t('home.features_section.item_1_title', locale),
        description: t('home.features_section.item_1_description', locale)
    },
    {
        title: t('home.features_section.item_2_title', locale),
        description: t('home.features_section.item_2_description', locale)
    },
    {
        title: t('home.features_section.item_3_title', locale),
        description: t('home.features_section.item_3_description', locale)
    }
];
---

<section class="bg-primary-100 rounded-lg pt-[60px] pb-[60px] px-[30px] mx-10">      
    <div class="flex flex-col gap-8">
        <h2 class="text-5xl font-bold leading-tight text-natural-white">{t('home.features_section.title', locale)}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {features.map((feature, index) => (
                <FeatureItemCard 
                    title={feature.title}
                    description={feature.description}
                    index={index + 1}
                />
            ))}
        </div>
    </div>
</section>
