---
import { t } from '../i18n/i18n';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MainSection from '../features/main-section/components/MainSection.astro';
import FeaturesSection from '../features/features-section/components/FeaturesSection.astro';
import StatisticSection from '../features/statistic-section/components/StatisticSection.astro';
import MapSection from '../features/map-section/components/MapSection.astro';

const defaultLocale = 'en';
const locale = defaultLocale;
---

<Layout title={t('home.main_screen.title', locale)}>
	<Header />
	<div class="flex flex-col gap-16">
		<MainSection />
		<StatisticSection />
		<MapSection />
		<FeaturesSection />
	</div>
</Layout>

