---
import { t } from '../i18n/i18n';

interface Props {
    key: string;
    locale: string;
    class?: string;
    mainClass?: string;
    name: string;
    dynamicText: string;
}

const { key: translationKey, locale, class: className, name, dynamicText, mainClass } = Astro.props;

const translation = t(translationKey, locale);
const styledText = `<span class="${className}">${dynamicText}</span>`;
const result = translation.replace(`[${name}]`, styledText);
---

<div class:list={[mainClass]} set:html={result} /> 