---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<h1>Landing National Parks</h1>
</div>

<style>
	#container {
		text-align: center;
		padding: 2rem;
	}

	h1 {
		font-weight: 700;
		font-size: 2.5rem;
		color: #1a1a1a;
		margin: 0;
	}
</style>
