---
import { Map } from './Map';
import MapTextSection from './MapTextSection.astro';

const { currentLocale } = Astro;
const locale = currentLocale || 'en';
---

<section class="mx-10 grid grid-cols-2 gap-4">
    <MapTextSection />
    <Map  client:idle currentLocale={locale}  />
</section>